.container {
    padding: 35px 200px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.heading {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 15px;
    background-color: black;
    padding: 15px;
    border-radius: 15px;
    width: fit-content;
    color: white;
}

.heading h4 {
    text-align: start;
    font-size: 10px;
}

.heading span {
    font-size: 20px;
    font-weight: bold;

}

.headingIcons {
    display: flex;
    align-items: center;
    justify-content: center;

}

.salons {
    height: 375px;
    overflow-y: scroll;
}

.salons::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(177, 175, 175, 0.938);
    border-radius: 15px;
}

.salons::-webkit-scrollbar-thumb {
    background-color: rgb(95, 94, 94);
    border-radius: 15px;
}

.icon {
    width: 30px;
    height: 30px;
}

.image {
    width: 50%;
    height: auto
}
.image img{
    width: 100%;
    height: auto;
}

.paper {
    display: flex;
    width: fit-content;
    gap: 20px;
}

.details {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    /* flex: 1; */
    flex-direction: column;
    gap: 3px;
    display: flex;
    justify-content: space-evenly;
    /* flex: 1; */
    flex-direction: column;
    gap: 3px;
    padding: 8px 5px 8px 0px;
}

.nameContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wishlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.wishlist p {
    font-size: 10px;
}

.wishlistIcon {
    font-size: 16px;
}

.details h2 {
    font-size: 20px;

}

.specialist {
    font-size: 12px;
}

.location {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

.locIcon {
    font-size: 12px;
    align-items: center;
}

.salonType {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.rating {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 12px;
}

.type {
    font-size: 12px;
}

.desc p {
    font-size: 10px;
}

.btn {
    background-color: black;
    color: white;
    padding: 5px 8px;
    cursor: pointer;
    /* width: fit-content; */
}

.linkdiv {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.linkdiv a {
    display: flex;
    color: black;
    font-size: 15px;
    font-weight: 500;
}

.arrow {
    font-size: 22px;
}

/* .link:visited{
    color: rgba(191, 112, 255, 0.824);
} */
.link:hover {
    text-decoration-line: underline;
}

@media screen and (max-width:1200px) {
    .container {
        padding: 35px 160px;
    }

    .heading {
        padding: 10px;
    }

    .icon {
        width: 24px;
        height: 24px;
    }

    .text h4 {
        font-size: 8px;
    }

    .text span {
        font-size: 17px;
    }

    .salons {
        height: 342px;
    }

    .paper {
        gap: 13px;
    }

    .image img {
        width: 166px;
        height: 123px;
    }

    .details h2 {
        font-size: 17px;
    }

    .specialist {
        font-size: 13px;
    }

    .desc p {
        font-size: 8px;
    }

    .btn {
        padding: 3px 8px;
        font-size: 10px;
    }
}
@media screen and (max-width:992px) {
    .container {
        padding: 35px 67px;
    }

    .salons {
        height: 390px;
    }

    .paper {
        gap: 18px;
    }

    .image img {
        width: 157px;
        height: 116px;
    }
}

/* .desc{
        display: none;
    } */


@media screen and (max-width:768px) {
    .container {
        padding: 35px 64px;
    }

    .salons {
        height: 348px;
    }

    .image img {
        width: 187px;
        height: 159px
    }

    .details {
        padding: 8px 6px 8px 0px;
    }
}

@media screen and (max-width:576px) {
    .container {
        padding: 35px 26px;
    }

    .salons {
        height: 321px;
    }

    .paper {
        gap: 13px;
    }

    .image img {
        width: 155px;
        height: 134px;
    }

    .details {
        gap: 2px;
    }

    .details h2 {
        font-size: 15px;
    }

    .wishlistIcon {
        font-size: 14px;
    }

    .wishlist p {
        font-size: 8px;

    }

    .desc p {
        font-size: 7px;
    }


    .location {
        font-size: 11px;
    }

    .rating {
        font-size: 11x;
    }

    .type {
        font-size: 11px;
    }

    .btn {
        padding: 3px 7px;
        font-size: 8px;
    }

    .linkdiv a {
        font-size: 12px;
    }

    .arrow {
        font-size: 16px;
    }


}

/* @media screen and (max-width:380px) {
    .salons {
        height: 229px;
    }

    .paper {
        gap: 14px;
    }

    .image img {
        width: 146px;
        height: 132px;
    }

    .details {
        gap: 3px;
    }

    .details h2 {
        font-size: 10px;
    }

    .details p {
        font-size: 8px;
    }

    .location {
        font-size: 8px;
    }

    .rating {
        font-size: 8px;
    }

    .type {
        font-size: 8px;
    }

    .salonType {
        display: flex;
        justify-content: space-between;
    }

    .btn {
        font-size: 6px;
    }
}


@media screen and (max-width:280px) {
    .salons {
        height: 214px;
    }

    .paper {
        gap: 13px;
    }

    .image img {
        width: 102px;
        height: 92px;
    }

    .details {
        gap: 3px;
    }

    .details h2 {
        font-size: 12px;

    }

    .details p {
        font-size: 8px;
    }

    .location {
        font-size: 9px;
    }

    .type {
        font-size: 9px;

    }

    .salonType {
        padding-right: 0px;
    }
      .desc {
        display: none;
    }

    .rating {
        gap: 1px;
        font-size: 9px;
    }

} */