.container {
    display: flex;
    gap: 24px;
    padding-top: 20px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.container::-webkit-scrollbar{
    display: none;
}
.paper{
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
}

.icon {
    width: 30px;
    height: 30px;
}

.image img {
    width: 200px;
    height: 155px
}
.details {
    display: flex;
    justify-content: space-evenly;
    /* flex: 1; */
    flex-direction: column;
    gap: 3px;
    display: flex;
    justify-content: space-evenly;
    /* flex: 1; */
    flex-direction: column;
    gap: 3px;
    padding: 8px 5px 8px 5px;
}

.location {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

.locIcon {
    font-size: 12px;
    align-items: center;
}

.salonType {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.rating {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 12px;
}

.type {
    font-size: 12px;
}

.desc p {
    font-size: 10px;
}

.btn {
    background-color: black;
    color: white;
    padding: 5px 8px;
    /* width: fit-content; */
}

@media screen and (max-width:1200px) {
    .container {
        padding: 0px 0px;
    }
}

@media screen and (max-width:1024px) {

    .image img {
        width: 209px;
        height: 166px;
    }
}

@media screen and (max-width:991px) {

    .image img {
        width: 205px;
        height: 152px
    }
}

@media screen and (max-width:780px) {
}

@media screen and (max-width:500px) {

    .paper {
        gap: 0px;
    }

    .image img {
        width: 200px;
        height: 150px;
    }

    .details {
        gap: 6px;
    }

    .details h2 {
        font-size: 17px;
    }

    .desc p {
        font-size: 7px;
    }

    .location {
        font-size: 11px;
    }

    .rating {
        font-size: 11x;
    }

    .type {
        font-size: 11px;
    }

    .btn {
        padding: 3px 7px;
        font-size: 8px;
    }


}

@media screen and (max-width:380px) {
    .container{
        padding: 16px 0px;
    }
    .paper{
        gap: 0px;
    }
    .image img {
        width: 157px;
        height: 117px;
    }
    .details{
        gap: 6px;
    }


    .details h2 {
        font-size: 25px;
    }

    .desc {
        display: none;
    }

    .salonType {
        display: flex;
        justify-content: space-between;
    }
}


@media screen and (max-width:280px) {
    .paper {
        gap: 22px;
    }

    .image img {
        width: 109px;
        height: 85px;

    }

    .details {
        gap: 3px;
    }

    .details h2 {
        font-size: 17px;

    }

    .location {
        font-size: 11px;
    }

    .type {
        font-size: 11px;

    }

    .salonType {
        padding-right: 0px;
    }

    .rating {
        gap: 1px;
        font-size: 11px;
    }

}