.container {
  padding: 30px 185px;
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.noSalon{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding: 110px 0px;
}
.heading {
  background-color: black;
  color: white;
  padding: 8px 10px;
  font-size: 18px;
  font-weight: bold;
  width: fit-content;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.linkDiv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.linkDiv a {
  display: flex;
  color: black;
  font-size: 13px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
.link a {
  color: white;
}
.arrow {
  font-size: 20px;
}

.content {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.paper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: center;
  width: 220px;
  height: 300px;
  border: 2px solid #D9D9D9;
  border-radius: 5px;
}

.icon {
  width: 30px;
  height: 30px;
}

.image img {
  width: 100%;
  height: 155px;
}

.details {
  display: flex;
  justify-content: space-evenly;
  /* flex: 1; */
  flex-direction: column;
  gap: 3px;
  display: flex;
  justify-content: space-evenly;
  /* flex: 1; */
  flex-direction: column;
  gap: 3px;
  padding: 8px 5px 8px 5px;
}

.location {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

.locIcon {
  font-size: 25px;
  align-items: center;
}
.content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.salonType {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.rating {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 12px;
}

.type {
  font-size: 12px;
}

.desc p {
  font-size: 10px;
}

.btn {
  background-color: black;
  color: white;
  padding: 5px 8px;
  /* width: fit-content; */
}
.btn a {
  color: white;
}
@media screen and (max-width: 1280px) {
  .container {
    gap: 15px;
  }
}

@media (max-width: 1200px) {
  .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 30px 66px;
    gap: 14px;
  }
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 21px 54px;
    gap: 14px;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 16px 28px;
    gap: 18px;
  }

  .heading {
    font-size: 11px;
  }

  .linkDiv a {
    font-size: 11px;
  }

  .arrow {
    font-size: 14px;
  }

  .paper {
    gap: 0px;
  }

  .details {
    gap: 6px;
    padding: 0px 5px 8px 5px;
  }

  .details h2 {
    font-size: 17px;
  }

  .desc {
    display: none;
  }

  .salonType {
    display: flex;
    justify-content: space-between;
  }

  .btn {
    font-size: 11px;
    font-weight: bold;
  }
}
@media (max-width: 470px) {
  .content {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .image img {
    height: 175px;
  }
  .paper{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
  .paperSkeleton{
    width: 150px !important;
  }
}
