.input {
    padding-top: 7px;
    padding-bottom: 7px;
    /* padding-right: 150px; */
    font-size: 15px;
    border: none;
    outline: none;
    width: 100%;
}

.container {
    width: 100% !important;
}

.input::placeholder {
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    width: fit-content;
}

@media screen and (max-width:991px) {
    .input {
        padding-right: 20px;
    }
}

@media screen and (max-width:500px) {
    .input {
        padding-right: 0px;
        font-size: 18px;
    }
}

@media screen and (max-width:400px) {
    .input::placeholder {
        font-size: 14px;
    }

    .input {
        font-size: 15px;
    }

}

@media screen and (max-width:280px) {
    .input::placeholder {
        font-size: 12px;
    }

    .input {
        font-size: 11px;
    }

}


/* csss */

.container {
    position: relative;
    width: 300px; /* Adjust as needed */
  }
  
  .input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .dropdown {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    max-height: 200px; /* Adjust as needed */
    overflow-y: auto;
    z-index: 1000;
  }
  
  .dropdownItem {
    padding: 8px;
    cursor: pointer;
  }
  
  .dropdownItem:hover {
    background: #f0f0f0;
  }
  