.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px 0px;
    align-items: center;
    justify-content: center;
}

.title h2 {
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 10px;

}

.description p {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
}

.serviceIcons {
    display: flex;
    gap: 41px;
    padding: 16px 0px;
}
.imgDiv img{
    width: 90px;
    height: auto;
}

.btn {
    padding: 10px 14px;
    border: 2px solid black;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.imgDiv {
    display: flex;
    gap: 42px;
}

.offers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.haircutDiv {
    width: 520px;
    height: 370px;
    background-image: url("../../assets/images/haircutMen.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding-left: 30px;

}

.haircutDiv h1 {
    font-size: 65px;
}

.haircutDiv span {
    font-size: 48px;
}

.haircutDiv p {
    font-size: 20px;
    padding-bottom: 20px;
}

.otherOffers {
    display: flex;
    flex-direction: column;
    gap: 24px;


}

.massageDiv {
    
    background-image: url("../../assets//images//massageMen.svg");
    

}
.massageDiv, .facialsDiv{
    width: 280px;
    height: 170px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding-left: 30px;
}

.massageDiv h2 {
    font-size: 22px;
}

.massageDiv span {
    font-size: 15px;
}

.massageDiv p {
    font-size: 12px;
    padding: 5px 0px 15px 0px
}

.facialsDiv {
    background-image: url("../../assets/images/facialMen.svg");
}

.facialsDiv h2 {
    font-size: 22px;
}

.facialsDiv span {
    font-size: 15px;
}

.facialsDiv p {
    font-size: 12px;
    padding: 5px 0px 15px 0px
}

@media screen and (max-width:1024px) {}

@media screen and (max-width:992px) {
    .offers {
        gap: 20px;
    }

    .haircutDiv {
        width: 466px;
        height: 320px;
    }

    .haircutDiv h1 {
        font-size: 50px;
    }

    .haircutDiv span {
        font-size: 35px;
    }

    .massageDiv, .facialsDiv {
        width: 253px;
        height: 145px;
        padding-left: 19px;
    }

}

@media screen and (max-width:768px) {
    .title h2 {
        font-size: 27px;
        padding-bottom: 5px;

    }

    .description p {
        font-size: 11px;
    } 
    .serviceIcons{
        flex-direction:column;
    }

    .haircutDiv, .massageDiv, .facialsDiv {
        width: 476px;
        height: 293px
    }
    .otherOffers{
        flex-direction: column;
    }
    .offers{
        gap: 24px;
        flex-direction: column;
    }
    .massageDiv h2 {
        font-size: 43px;
    }

    .massageDiv span {
        font-size: 33px;
    }
    .massageDiv p{
        font-size: 20px;
    }
    .facialsDiv h2 {
        font-size: 43px;
    }

    .facialsDiv span {
        font-size: 33px;
    }
    .facialsDiv p{
        font-size: 20px;
    }
}

  
@media screen and (max-width:576px) {
    .title h2 {
        font-size: 23px;

    }

    .imgDiv {
        gap: 16px;
    }
    .haircutDiv,.facialsDiv,.massageDiv{
        width: 318px;
        height: 199px;
        padding-left: 15px;
    }
    .haircutDiv h1{
        font-size: 30px;
    }
    .haircutDiv span{
        font-size: 20px;
    }
    .haircutDiv p{
        font-size: 14px;
    }
    .massageDiv h2{
        font-size: 24px;
    }
    .massageDiv span{
        font-size: 21px;
    }
    .massageDiv p{
        font-size: 14px;
    }
    .facialsDiv h2{
        font-size: 24px;
    }
    .facialsDiv span{
        font-size: 21px;
    }
    .facialsDiv p{
        font-size: 14px;
    }
}

/* @media screen and (max-width:368px) {
    .title h2 {
        font-size: 23px;

    }

    .imgDiv {
        gap: 16px;
    }
    .haircutDiv,.facialsDiv,.massageDiv{
        width: 250px;
        height: 161px; 
        padding-left: 15px;
    }
    .haircutDiv h1{
        font-size: 30px;
    }
    .haircutDiv span{
        font-size: 20px;
    }
    .haircutDiv p{
        font-size: 14px;
    }
    .massageDiv h2{
        font-size: 24px;
    }
    .massageDiv span{
        font-size: 21px;
    }
    .massageDiv p{
        font-size: 14px;
    }
    .facialsDiv h2{
        font-size: 24px;
    }
    .facialsDiv span{
        font-size: 21px;
    }
    .facialsDiv p{
        font-size: 14px;
    }
}
@media screen and (max-width:280px){
    .container{
        gap: 6px;
    }
     .title h2{
        font-size: 20px;

     }
     .imgDiv{
        gap: 14px;
     }
     .imgDiv img{
        width: 74px;
    }
    .serviceIcons{
        gap: 10px;
    }
} */