.title {
  display: flex;
  justify-content: center;
  margin: 10px 60px;
  text-decoration: underline;
}
.updateOn{
  padding: 0 30px;
  font-weight: 700;
  font-size: 20px;
}
.mainList li {
  margin: 10px 5px;
}
.subList h5 {
  font-size: 17px;
  font-family: sans-serif monospace;
  font-weight: 400;
  color: #000;
}

.subSubList h5 {
  font-family: sans-serif monospace;
  font-weight: 400;
  color: #000;
  font-size: 17px;
  line-height: 30px;
  text-align: justify;
  padding: 5px 0px;
}

.subList ol {
  list-style-type: lower-roman;
  font-size: 17px;
  font-family: sans-serif monospace;
  font-weight: 400;
  color: #000;
}

.subSubList ol {
  list-style-type: lower-alpha;
}

.mainList {
  font-family: sans-serif monospace;
  font-weight: 400;
  color: #000;
  font-size: 17px;
  line-height: 30px;
  text-align: justify;
  padding: 5px 30px;
}
.mainList ol li h5{
  font-weight: 700;
  font-size: 17px;
}
.heading {
 font-family: sans-serif monospace;
  font-weight: 400;
  color: #000;
  font-size: 17px;
  line-height: 30px;
  text-align: justify;
  padding: 5px 30px;
}

@media screen and (max-width: 992px) {
  .second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
  }
}
