.title {
  display: flex;
  justify-content: center;
  margin: 10px 20px;
  text-decoration: underline;
}
.mainList li {
  margin: 10px 15px;
}
.subList h5 {
  font-size: large;
}

.subSubList h5 {
  font-size: large;
  padding-left: 10px;
}

.subList ol {
  list-style-type: lower-roman;
  font-size: large;
}

.subSubList ol {
  list-style-type: lower-alpha;
}

.mainList {
  font-size: large;
  text-align: justify;
  padding-left: 20px;
}

.heading {
  text-align: justify;
  padding: 5px 20px;
  color: black;
}

@media screen and (max-width: 992px) {
  .second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
  }
}
