.mainHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
.heading {
  font-family: sans-serif monospace;
  font-weight: 400;
  color: #000;
  font-size: 17px;
  line-height: 30px;
  text-align: justify;
  padding: 5px 30px;
}
.subMenu {
  font-family: sans-serif monospace;
  font-weight: 400;
  color: #000;
  counter-reset: item;
  font-size: 17px;
  line-height: 30px;
  text-align: justify;
  padding: 5px 45px;
}
.mainMenu {
  font-weight: 700;
  font-size: 17px;
}
.subMenuNav {
  counter-reset: sub-item;
  font-size: 17px;
  font-family: sans-serif monospace;
  font-weight: 400;
  color: #000;
}
.lowerAlpha {
  padding-left: 20px;
}
.lA{
  font-weight: 600;
  font-size: 17px;
}
.romanList {
  padding-left: 15px;
}
.spanTag {
  font-weight: 600;
}
/* .menu{
  font-size: 18px;
  font-weight: 400;
  color: #000000;
} */
/* .subMenu {

}
.subMenu > li::before {
  content: counters(item, ".") " ";
  counter-increment: item;
  font-weight: 400;
}

.subMenuNav {
  list-style-type: none;
  counter-reset: sub-item;
}

.subMenuNav > li::before {
  font-weight: 500;
  content: counter(item) "." counter(sub-item) "";
  counter-increment: sub-item;
}
.romanList {
  list-style-type: none;
  counter-reset: roman-counter;
}

.romanList li:before {
  content: "(" counter(roman-counter, lower-roman) ") ";
  counter-increment: roman-counter;
} */
