/* .wishLists {
    width: 560px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.wishListItems {
    display: flex;
    border: 2px solid;
    padding: 14px 48px;
    align-items: center;
    gap: 20px;
    border: 1px solid #B4B4B4;
    border-radius: 5px;
}

.wishListsInfo p {
   color: #898989;
    font-size: 0.674em;
    display: flex;
    align-items: center;
    gap: 3px;
}

.wishListsInfo h3 {
    font-size: 1.075em;
}

.wishListsInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.wishListItems .img img {
    width: 100px;
    height: 100px;
    border-radius: 10%;
}

@media screen and (max-width:576px) {
    .wishLists {
        width: 512px;
        margin: auto;
    }

}

@media screen and (max-width:475px) {


    .wishLists {
        width: 400px;
        margin: auto;
    }
}

@media screen and (max-width:450px) {
    .wishLists {
        width: 350px;
        margin: auto;
    }
}


@media screen and (max-width:350px) {
    .wishLists {
        width: 300px;
        margin: auto;
        margin-top: 20px;
    }

    .wishListItems {
        padding: 14px 21px;
    }

} */

.main{
    padding: 20px 300px;
}
.img{
    width: 50%;
    height: auto;
    height: 182px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}