.container {
    background-color: black;
    padding: 15px 60px;
    gap: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 270px;
    height: auto;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 78px; */
    padding: 18px 15px;
}

.featuredlink {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* padding-left: 20px; */
    gap: 55px;
}

.featuredlink span {
    padding-left: 5px;
}

.featuredlink a {
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
}

.searchInput {
    width: 100%;
}

.locSearchDiv {
    display: flex;
    gap: 10px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.location {
    display: flex;
    gap: 10px;
    flex: 1;
    align-items: center;
}

.searchDiv {
    display: flex;
    gap: 10px;
    flex: 3;
    align-items: center;
}

.icon {
    font-size: 28px;
    cursor: pointer;
}

.hamburger {
    display: none;
}

.MenuIcon {
    display: flex;
    align-items: center;
    font-size: 40px;
    color: white;
}

.mobileMenu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    z-index: 1;
    background-color: black;
    top: 75px;
    right: 0;
    margin-right: 5px;
    padding: 40px 20px;
    border: 1px solid white;
    border-radius: 5px;
}

.mobileMenu a {
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.mobileMenu span {
    padding-left: 7px;
}

.mobilesearchDiv,
.mobilelocation {
    display: none;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:1200px) {
    .featuredlink {
        gap: 28px;
        padding-left: 0px;
    }

    .featuredlink a {
        font-size: 14px;
    }

}

@media screen and (max-width:992px) {
    .featuredlink {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .links {
        justify-content: space-between;
        padding: 0px 70px;
        align-items: center;
    }

    .locSearchDiv {
        gap: 24px;
    }


}

@media screen and (max-width:768px) {
    .links {

        padding: 0px 60px;
    }

}


@media screen and (max-width:576px) {
    .container{
        padding: 15px 15px;
    }
    .logo img {
        background-color: transparent;
        width: 230px;

    }

    .links {
        padding: 0px 10px;
    }

    /* .location {
        display: none;
    } */

    .locSearchDiv {
        padding: 8px !important;
    }

    .searchDiv {
        display: none;
    }

    .mobilesearchDiv,
    .mobilelocation {
        display: flex;
    }

    .locSearchDiv {
        gap: 10px;
        justify-content: space-between;
    }

    /* .icon {
        display: none;
    } */

    .iconLoc{
        display: none;
    }
}

@media screen and (max-width:380px) {
    .links {
        padding: 0px 0px;
    }

    .logo img {
        width: 170px;
    }

    .mobileMenu {
        font-size: 30px;
    }

    .locSearchDiv {
        gap: 20px;
        justify-content: space-between;
    }
}

@media screen and (max-width:280px) {
    .logo img {
        width: 150px;
    }

    .mobileMenu {
        font-size: 20px;
    }

    .hamburger {
        padding-top: 5px;
    }

    .locSearchDiv {
        gap: 12px;
        padding: 10px;
    }

}