.container {


    padding: 75px 140px;
    background-image: url("../../assets/images/appointmentBg.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: start; */
    align-items: center;
    padding-right: 700px;
    gap: 10px;
    color: white;
}

.textContainer p {
    font-size: 13px;
}

.textContainer h3 {
    font-size: 32px;
    font-weight: 400;
}
.textContainer span{
    font-size: 35px;
    font-weight: bold;
}

.textContainer h4 {
    font-size: 25px;
}

.btn {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 10px 12px;
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
    width: fit-content;
    cursor: pointer;
}
@media screen and (max-width:1280px) {
    .textContainer{
        padding-right: 650px;
    }
}
@media screen and (max-width:1200px) {
    .textContainer{
        padding-right: 480px;
    }
    
}
@media screen and (max-width:1024px) {
    .textContainer{
        padding-right:0px;
    }
    .textContainer p{
        font-size: 16px;
    }
    .textContainer span{
        font-size: 38px;
    }
    .textContainer h4{
        font-size: 28px;
    }
    .btn{
        font-size: 15px;
    }
}
@media screen and (max-width:780px) {
    .container{
        padding: 18px 0px;
    }
    .textContainer{
        gap: 5px;
    }
    .textContainer span{
        font-size: 32px;
    }
    .textContainer h4{
        font-size: 24px;
    }
    .btn{
        font-size: 13px;
        padding: 8px 10px;
    }
    
}
@media screen and (max-width:500px) {
    .container{
        padding: 18px 0px;
    }
    .textContainer{
        gap: 5px;
    }
    .textContainer h3{
        font-size: 26px;
    }
    .textContainer span{
        font-size: 28px;
    }
    .textContainer h4{
        font-size: 22px;
    }
    .btn{
        font-size: 12px;
        padding: 7px 9px;
    }
    
}