* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.additional-class p {
  margin-bottom: 1rem;
  font-size: 20px;
  line-height: 35px;
}
html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
}

.navbar_featuredlink__rJ2VK span{
  color: white !important;
}
.footer_footerItem__Og_tM a{
  color: white !important;
}
a {
  text-decoration: none !important;
}
.phone-container .flag-dropdown,
.phone-container .flag-dropdown > div {
  border-radius: 20px !important;
}
.contact-box{
  width: 100% !important;
}
.contact-box div {
  margin-bottom: 15px;
}
.contactInfo {
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.__className_aaf875{
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
}
.navbar_container__kbw4X {
  width: 100%;
}
.footer_mainDiv__64VnC{
width: 100%;
}