.container {
    margin-top: 10px;
    padding: 0px 110px;
    padding-bottom: 30px !important;

}


.find {
    background-color: black;
    color: white;
    width: 320px;
    padding: 20px 40px;
    border-radius: 15px;
    margin: 30px 0px;
    display: flex;
    position: relative;
    gap: 12px;
}

.doorBuddyFind {
    padding: 20px 112px;
    background-color: black;
    color: white;
    width: 320px;
    border-radius: 15px;
    margin: 30px 0px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.calendra {
    position: absolute;
    font-size: 53px;
    left: 44px;
    top: 23px;
    z-index: 45;


}

.locationIcons {
    position: absolute;
    font-size: 40px;
    left: 18px;
    z-index: 999999999;
    top: 36px;

}

.scissors {
    position: absolute;
    font-size: 28px;
    left: 46px;
    top: 48px;
    z-index: 45;

}

.combIcons {
    position: absolute;
    font-size: 47px;
    left: 19px;
    z-index: 111111;
    top: 23px;
    rotate: 160deg;
}

.findsSalon {
    /* border: 2px solid black; */
    padding-left: 198px;

}


.heart {
    width: 10px;
    height: 10px;
    position: relative;
    transform: rotate(-48deg);
    margin-left: 20px;
    cursor: pointer;
}

.heart::before,
.heart::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: rgb(228, 75, 75);
    border-radius: 58%;
}

.heart::before {
    top: -7px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 6px;
}

.heart.nonFavorite::before,
.heart.nonFavorite::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: black;
    border-radius: 50%;
}

.heart.favorite {
    background-color: rgb(228, 75, 75);
}

.heart.nonFavorite {
    background-color: black;
}

.find p {
    font-size: 0.8875em;
    font-weight: 400;
}

.find h3 {
    font-size: 1.81875em;
    font-weight: bolder;
}

.salonLists {
    display: flex;
    justify-content: center;
    gap: 40px;
}


.titles h6 {
    font-size: 26px;
    font-weight: bold;
}

.salonListFilter {

    border: 3px solid rgb(177, 169, 169);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 35px 22px;
    height: max-content;
    border-radius: 8px;
}

.salonList {
    width: 560px;


}


.salonDetails {
    display: flex;

    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.9);
    margin-bottom: 15px;


}


.img img{
    width: 270px;
    height: 200px;
}

.img img {
    /* object-fit: cover !important; */
    /* width: 100%; */
    /* height: auto; */
}

.details {
    padding: 20px 35px;
   width: 50%;
   height: auto;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.details button {
    background-color: black;
    color: white;
    padding: 10px 82px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    margin-top: 10px;
    font-size: 0.85em;
}

.wishList {
    display: flex;
}

.titlesDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wishlists p {
    font-size: 0.8125em;
}

.titles h2 {
    font-size: 1.185em;
    font-weight: 800;
}

.locations {
    font-size: 1.78125em;

}

.ratings {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.img img {
    /* object-fit: cover !important;
    width: max-content;
    height: max-content; */
}

.description,
.ratings p {
    font-size: 0.74625em;
    font-weight: 700;
    line-height: 15px;
}

.ratings p {
    /* line-height: 25px; */
}

.salonDetails svg {
    font-size: 16px;
}

.locations {
    line-height: 30px;
    display: flex;
    gap: 10px;
    align-items: center;

}

.wishlists svg {
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    margin-left: 13px;
}

.wishlists {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3px;
}


.applyConditions {
    display: flex;
    justify-content: space-between;
}

.applyConditions button {
    padding: 4px 16px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
    font-size: 0.664em;
}

.applyConditions .clear {
    background-color: white;
    color: black;
    font-size: 0.725em;
    font-weight: 500;
}

.applyConditions p {
    font-size: 1em;

}

.shopCategory {
    line-height: 25px;
}

.shopCategory h5 {
    font-size: 0.845em;
    font-weight: 600;
    margin-bottom: 10px;
}

.checkboxContainer .checkboxes {
    background-color: red !important;
}

.shopCategory label {
    font-size: 0.745em;
    margin-left: 5px;
    font-weight: 500;
}

.locations {
    font-size: 17px;
    /* line-height: 40px; */
}

.buddyType {
    font-size: 9px;
    font-weight: 700;
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.doorBuddyBtn {
    padding: 13px 69px !important;
}

.showMoreButton {
    margin: 0px 0px 10px 54%;
}

.showMoreButton button {
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.showMoreButton button:hover {
    color: blue;
}





@media screen and (max-width:1400px) {

    .container {
        padding: 0px 50px;
    }

    .salonLists {
        display: flex;
        justify-content: center;
        gap: 20px;

    }

    .findsSalon {
        padding-left: 50px;
    }

    .findsSalon {
        padding-left: 155px;
    }

    .doorBuddyBtn {
        padding: 13px 69px !important;
    }
}

@media screen and (max-width:1200px) {}

@media screen and (max-width:1024px) {
    .salonLists {
        justify-content: center;
        gap: 20px;
    }

    .findsSalon {
        padding-left: 2%;
    }


    .details button {

        padding: 13px 76px;
    }

    .doorBuddyBtn {
        padding: 13px 56px !important;
    }

    .img {

        height: 184px;
    }

}

@media screen and (max-width:992px) {}

@media screen and (max-width:768px) {
    .container {

        padding: 0px 10px;
    }

    .img {
        width: 100%;
        object-fit: cover;
    }



    .salonLists {
        flex-direction: row
    }

    .salonList {
        /* width: 100vw; */
    }

    .salonListFilter {
        width: 200px;
        padding: 10px;
    }

    .container {
        padding: 0px 10px;
    }

    .find {
        width: 230px;
        padding: 20px 22px;
    }

    .findsSalon {
        padding-left: 0%;
    }

    .applyConditions {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .applyConditions p {
        font-size: 15px;
    }

    .details {
        padding: 10px 15px;
    }


    .details button {
        padding: 10px 84px;

    }



    .findsSalon {
        margin: 30px 0px;
    }

    .details button {

        padding: 13px 80px;
    }

    .doorBuddyBtn {
        padding: 13px 69px !important;
    }

    /* .img {
        flex: unset !important;
    } */
}

@media screen and (max-width:576px) {


    .salonDetails {
        flex-direction: column;
    }

    .salonLists {
        flex-direction: column-reverse;
    }

    .salonList {
        width: 350px;
        margin: auto;
    }


    .details {
        padding: 10px 25px;
    }

    .salonListFilter {
        width: 350px;
        margin: auto;
    }

    .shopCategory {
        width: 125px;
    }

    .categoryContainer {
        display: flex;
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;
    }


    .applyConditions button {
        padding: 8px 25px;


    }

    .find {
        padding-left: 0px;
    }

    .details button {

        padding: 13px 103px;
    }

    .doorBuddyBtn {
        padding: 13px 71px !important;
    }

    .find {
        width: 300px;
        margin: auto;
        justify-content: center;
        gap: 25px;

    }

    .img {
        flex: unset !important;
    }

}

/* 
@media screen and (max-width:475px) {

    .salonList {
        width: 300px;
        margin: auto;
    }

    .salonListFilter {
        width: 300px;
        margin: auto;
    }


} */

@media screen and (max-width:360px) {
    .salonList {
        width: 280px;
        margin: auto;
    }

    .details button {

        padding: 13px 68px;
    }


    .doorBuddyBtn {
        padding: 13px 60px !important;
    }

    .find {
        width: 285px;
        margin: auto;
        justify-content: center;
    }
}