.container {
    margin-top: 10px;
    padding: 0px 110px;
}

.find {
    background-color: black;
    color: white;
    width: 320px;
    padding: 20px 20px;
    border-radius: 15px;
    margin: 30px 0px;
    display: flex;
    position: relative;
    gap: 12px;
}

.doorBuddyFind {
    padding: 20px 112px;
    background-color: black;
    color: white;
    width: 320px;
    border-radius: 15px;
    margin: 30px 0px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.calendra {
    position: absolute;
    font-size: 53px;
    left: 44px;
    top: 23px;
    z-index: 45;


}

.locationIcons {
    position: absolute;
    font-size: 40px;
    left: 18px;
    z-index: 999999999;
    top: 36px;

}

.scissors {
    position: absolute;
    font-size: 28px;
    left: 46px;
    top: 48px;
    z-index: 45;

}

.combIcons {
    position: absolute;
    font-size: 47px;
    left: 19px;
    z-index: 111111;
    top: 23px;
    rotate: 160deg;
}

.findsSalon {
    /* border: 2px solid black; */
    padding-left: 198px;

}

.find p {
    font-size: 16px;
    font-weight: 700;
}

.find h1 {
    font-size: 33px;
    font-weight: bold;
}

.salonLists {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.salonListFilter {

    border: 3px solid rgb(177, 169, 169);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 35px 22px;
    height: max-content;
    border-radius: 8px;
}

.salonList {
    width: 560px;


}


.salonDetails {
    display: flex;

    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.9);
    margin-bottom: 15px;


}


.img {
    flex: 1;
}

.details {
    padding: 20px 35px;
    flex: 1;
    font-weight: 600;

}

.details button {
    background-color: black;
    color: white;
    padding: 13px 83px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    margin-top: 10px;
}

.wishList {
    display: flex;
}

.titlesDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wishlists p {
    font-size: 10px;
}

.ratings {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.img img {
    object-fit: cover !important;
    width: max-content;
    height: max-content;
}

.description,
.ratings p {
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
}

.ratings p {
    line-height: 25px;
}

.salonDetails svg {
    font-size: 16px;
}

.locations {
    line-height: 30px;
    display: flex;
    gap: 18px;
    align-items: center;

}

.wishlists svg {
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.wishlists {
    text-align: center;
}


.applyConditions {
    display: flex;
    justify-content: space-between;
}

.applyConditions button {
    padding: 4px 13px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    font-size: 10px;
}

.applyConditions .clear {
    background-color: white;
    color: black;
}

.applyConditions p {
    font-size: 13px;

}

.shopCategory {
    line-height: 25px;
}

.shopCategory h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.checkboxContainer .checkboxes {
    background-color: red !important;
}

.shopCategory label {
    font-size: 14px;
    margin-left: 5px;
    font-weight: 500;
}

.locations {
    font-size: 13px;
    line-height: 40px;
}

.buddyType {
    font-size: 9px;
    font-weight: 700;
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.doorBuddyBtn {
    padding: 13px 69px !important;
}

@media screen and (max-width:1400px) {

    .container {

        padding: 0px 50px;
    }

    .salonLists {
        display: flex;
        justify-content: center;
        gap: 20px;


        /* background-color: red; */
    }

    .findsSalon {
        padding-left: 50px;
    }

    .findsSalon {
        /* border: 2px solid black; */
        padding-left: 155px;

    }

    .doorBuddyBtn {
        padding: 13px 69px !important;
    }
}

@media screen and (max-width:1024px) {
    .salonLists {
        justify-content: center;
        gap: 20px;
    }

    .findsSalon {
        padding-left: 0px;
    }


    .details button {

        padding: 13px 60px;
    }

    .doorBuddyBtn {
        padding: 13px 56px !important;
    }
}

@media screen and (max-width:768px) {
    .container {

        padding: 0px 10px;
    }

    .img {
        width: 100%;
        object-fit: cover;
    }

    /* .salonDetails {
        flex-direction: column;
    } */


    .salonLists {
        flex-direction: row
            /* width: 100vw; */
    }

    .salonList {
        /* width: 100vw; */
    }

    .salonListFilter {
        width: 200px;
        padding: 10px;
    }

    .container {
        padding: 0px 10px;
    }

    /* .shopCategory {
        width: 45vw;
    } */

    .applyConditions {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .applyConditions p {
        font-size: 15px;
    }

    .details {
        padding: 10px 15px;
    }


    .details button {
        padding: 10px 84px;

    }



    .findsSalon {
        margin: 30px 0px;
    }

    .details button {

        padding: 13px 87px;
    }

    .doorBuddyBtn {
        padding: 13px 69px !important;
    }
}

@media screen and (max-width:600px) {


    .salonDetails {
        flex-direction: column;
    }

    .salonLists {
        flex-direction: column-reverse;
    }

    .salonList {
        width: 350px;
        margin: auto;
    }


    .details {
        padding: 10px 25px;
    }

    .salonListFilter {
        width: 350px;
        margin: auto;
    }

    .shopCategory {
        width: 125px;
    }

    .categoryContainer {
        display: flex;
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;
    }


    .applyConditions button {
        padding: 8px 25px;


    }

    .find {
        padding-left: 0px;
    }

    .details button {

        padding: 13px 86px;
    }

    .doorBuddyBtn {
        padding: 13px 71px !important;
    }

}

@media screen and (max-width:475px) {

    .salonList {
        width: 300px;
        margin: auto;
    }

    .salonListFilter {
        width: 300px;
        margin: auto;
    }


}

@media screen and (max-width:350px) {
    .salonList {
        width: 280px;
        margin: auto;
    }

    .details button {

        padding: 13px 76px;
    }


    .doorBuddyBtn {
        padding: 13px 60px !important;
    }
}