.container {
    display: flex;
    flex-direction: column;
    gap: 37px;
    padding: 30px 185px;
    cursor: pointer;
}
.headingContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    background-color: black;
    color: white;
    padding: 8px 10px;
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
    border-radius: 10px;
}
.linkDiv {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.linkDiv a {
    display: flex;
    color: black;
    font-size: 13px;
    font-weight: 500;
}

.arrow {
    font-size: 20px;
}

.content {
    display: flex;
    gap: 24px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;


}

.content::-webkit-scrollbar {
    display: none;
}

.paper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    scroll-snap-align: center;
}

.type {
    padding: 23px 20px;
    font-size: 20px;
    font-weight: bold;
}

.image img {
    width: 200px;
}

.scrollbtn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: fit-content;

}

.icon {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 9px 14px;
    width: 20px;
    height: 20px;
    font-weight: bold;
    border-radius: 11px;
    cursor: pointer;
}
@media screen and (max-width:1200px) {
    .container{
        padding: 30px 57px;
        gap: 15px;
    }

    
}
@media screen and (max-width:992px) {
    .container{
        padding: 30px 66px;
        gap: 14px;
    }

    
}
@media screen and (max-width:768px) {
    .container{
        padding: 21px 54px;
        gap: 14px;
    }

    
}
@media screen and (max-width:576px) {
    .container{
        padding: 30px 25px;
        gap: 14px;
    }
    .content{
        gap: 16px;
    }
    .heading{
        font-size: 11px;
    }
    .linkDiv a{
        font-size: 11px;
    }
    .arrow{
        font-size: 14px;
    }
    .image img {
        width: 120px;
        height: 120px;
    }

    .type {
        padding: 23px 11px;
        font-size: 16px;
    }    
}
