.authLink {
    position: relative;
}

.profileMenu {
    background-color: black;
    border: 1px solid white;
    height: 250px;
    width: 250px;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 99999;
    border-radius: 10px;
    gap: 20px;
    justify-content: center;
    padding: 0px 20px;
    top: 44px;
}

.profileMenu a {
    gap: 15px;
}


@media screen and (max-width:1024px) {

    .profileMenu {
        width: 248px;
        right: -15px;
    }


}

@media screen and (max-width:1400px) {

    .profileMenu {
        width: 253px;
        right: -57px;
        top: 42px;
    }


}