.mainDiv {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 45px 0px;
}

 .footerLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 28px;
}

 .footerLogo img {
    width: 300px;
    height: auto;
}
.footerItem{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.footerItem a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    list-style: none;
    font-family: "Poppins";
    font-weight: 600px;
}


@media (max-width: 570px) {
    .footerItem {
        flex-direction: column;
        align-items: center;
    }
    .footerItemList{
        margin-bottom: 10px;
    }

    .mainDiv .footerLogo img {
        width: 300px;
    }
}