.mainDiv {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 45px 0px;
}

 .footerLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 28px; */
}

 .footerLogo {
    width: 300px;
    height: auto;
}
.appstore{
    width: 150px;
    height: auto;
}
.gplay{
    width: 150px;
    height: auto;  
}
.iconDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    gap: 40px;
}
.footerItem{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.footerItem a {
    margin-top: 20px;
    text-decoration: none;
    color: white;
    font-size: 22px;
    list-style: none;
    /* font-family: "Poppins"; */
    font-weight: 600px;
}

@media (max-width: 1200px) {
    .iconDiv {
gap: 10px;

 }
 .iconDiv img{
    width: 100px;
 }
 .footerLogo{
width: 200px;
 }
}

@media (max-width: 767px) {
    .footerItem {
        flex-direction: column;
        align-items: center;
    }
    .footerItemList{
        margin-bottom: 10px;
    }

    .mainDiv .footerLogo img {
        width: 300px;
    }
    .iconDiv{
        flex-direction: column;
    }
    .appstore{
        /* margin-top: -25px; */
    }
   
}