.titleName {
  text-align: center;
  margin-top: 10px;
}

.mainSection {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 20px;
}
.updateOn {
  font-weight: 700;
  font-size: 18px;
}
.groomSelf {
  padding: 5px 5px 5px 0;
  font-size: 17px;
}
.heading {
  font-family: sans-serif monospace;
  font-weight: 400;
  color: #000;
  font-size: 17px;
  line-height: 25px;
  text-align: justify;
  padding: 5px 0;
}
.sectionCustomer {
  font-family: sans-serif monospace;
  font-weight: 400;
  color: #000;
  font-size: 17px;
  line-height: 25px;
  text-align: justify;
  padding: 5px 0;
}
.customerTag {
  padding-left: 20px;
}
.forCustomer{
  font-weight: 700;
  font-size: 17px;
  padding: 5px 5px 5px 0;
}
.customerSubMenu {
  list-style: none;
  padding: 0 20px;
  font-family: sans-serif monospace;
  font-weight: 400;
  color: #000;
  font-size: 17px;
  line-height: 25px;
  text-align: justify;
}
.customerSubMenu li {
  padding-left: 1em;
  text-indent: -1em;
}
.customerSubMenu li::before {
  content: "-";
  padding-right: 0.5em;
}
.sectionSalon {
  font-family: sans-serif monospace;
  font-weight: 400;
  color: #000;
  font-size: 17px;
  line-height: 25px;
  text-align: justify;
  padding: 5px 0;
}
.salonTag {
  padding-left: 20px;
  font-weight: 700;
  font-size: 17px;
}
.salonSubMenu {
  list-style: none;
  padding: 5px 25px;
  font-family: sans-serif monospace;
  font-weight: 400;
  color: #000;
  font-size: 17px;
  line-height: 25px;
  text-align: justify;
}
.salonSubMenu li {
  padding-left: 1em;
  text-indent: -1em;
}
.salonSubMenu li::before {
  content: "-";
  padding-right: 1em;
}
.mainMeet {
  padding: 20px;
}
.meetTag {
  font-weight: 700;
  font-size: 17px;
}
.meetSection {
  font-family: sans-serif monospace;
  font-weight: 400;
  color: #000;
  font-size: 17px;
  line-height: 25px;
  text-align: justify;
  padding: 5px 20px;
}
.meetSpan {
  font-weight: 600;
}
