.titleName {
  text-align: center;
  margin-top: 10px;
}

.mainSection {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 20px;
}

.sectionCustomer {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  text-align: justify;
}
.customerTag {
  padding-left: 20px;
}
.customerSubMenu {
  list-style: none;
  padding: 0 20px;
}
.customerSubMenu li {
  padding-left: 1em;
  text-indent: -1em;
}
.customerSubMenu li::before {
  content: "-";
  padding-right: 0.5em;
}
.sectionSalon {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  text-align: justify;
  margin-top: 10px;
}
.salonTag {
  padding-left: 20px;
  font-size: 20px;
}
.salonSubMenu {
  list-style: none;
  padding: 5px 25px;
}
.salonSubMenu li {
  padding-left: 1em;
  text-indent: -1em;
}
.salonSubMenu li::before {
  content: "-";
  padding-right: 1em;
}
.mainMeet {
  padding: 20px;
}
.meetTag {
  padding-left: 20px;
  font-size: 20px;
}
.meetSection {
  padding-left: 45px;
}
.meetSpan {
  font-weight: 600;
}
