.mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 77px;
}
.notificationItem{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  border: 1px solid grey; 
  border-radius: 8px;
}
.notificationsHeader{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.notifications {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  border-radius: 5px;
  width: 600px;
  height: fit-content;
}
.noNotifications {
  text-align: center;
  padding: 100px;
}
.message p {
 
}
.time {
text-align: right;  
font-size: 10px;
}
.iconWrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ddd;
  margin-right: 10px;
}

.icon {
  color: #555;
}
@media (max-width: 1200px) {
  .mainDiv {
    padding: 81px;
  }
  @media (max-width: 992px) {
    .mainDiv {
      padding: 97px;
    }
    @media (max-width: 575px) {
      .mainDiv {
        padding: 40px;
      }
      .contentSkeleton {
        width: 430px !important;
      }
      @media (max-width: 500px) {
        .contentSkeleton {
          width: 350px !important;
        }
      }
    }
  }
}
