.container {
    width: 830px;

    margin: auto;
}
.inVoiceBtn{
    cursor: pointer;
}
.skeletonContent{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.userInputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #7A7A7A;
    padding: 30px 0px;
}
/* appointment.module.css */
.greyBackground {
    background-color: #D9D9D9;
  }
  
.noAppointments{
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    margin-top: -28px;
}
.loadingPage{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 200px;
    font-weight: 700;
    font-size: 20px;
}
.cancelButton{
    background-color: black;
    padding: 6px 15px;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}
.swalPopup {
    border-radius: 20px !important; /* Apply border radius */
  }

.confirmButton{
    background-color: black;
    padding: 6px 15px;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    cursor: pointer;

}
.title{
    font-size: 22px !important;
    font-weight: 800;
  }
  .textarea{
    outline: none;
    width: 450px;
    height: 100px;
    padding-inline-start: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
 }
    

.userInput input {
    padding: 12px 50px;
    border-radius: 8px;
    border: 3px solid rgb(144, 142, 142);
    color: #7A7A7A;
    outline: none;
    font-size: 14px;
}

.titleAppointment {
    padding-top: 40px;
    color: #434343;
}

.title {
    color: #434343;
    padding: 13px;
}

.userInput p {
    font-size: 12px;
    margin-bottom: 8px;
}

.userInput {
    position: relative;
}

.userInput svg {
    position: absolute;
    right: 5px;
    top: 28px;
    color: rgb(144, 142, 142);
    cursor: pointer;

}
.containerClass{
    height: 430px !important;
}
.userInput .searchIcon {
    margin-top: 23px;
}

.userInput .selects {
    padding: 12px 60px;
    border-radius: 8px;
    border: 3px solid rgb(144, 142, 142);
    color: rgb(144, 142, 142);
    outline: none;
    font-size: 14px;


}

.upcomingScheduleContainer {}


.upcomingSchedule {
    display: flex;
    justify-content: space-around;
    border: 2px solid #D9D9D9;
    border-radius: 7px;
    align-items: center;
    padding: 22px 0px;
    margin-bottom: 10px;
}

.upcomingDetails h5 {
    font-size: 0.875em;
}

.pastSchedule {
    display: flex;
    border: 2px solid #D9D9D9;
    border-radius: 7px;
    align-items: center;
    padding: 22px 0px;
    margin-bottom: 10px;
    background-color: #D9D9D9;
    justify-content: space-around;
    width: 100%;
}
.appointmentDiv{
    display: flex;
    gap: 15px;
}
.downloadInvoice{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.load{
   color: #7A7A7A;
   font-size: 25px;
   cursor: pointer;
}
.downloadInvoice p{
    font-size: 13px;
    color: #7A7A7A;
    text-decoration: underline;
}
.completed{
    width: 85%;
}
.upcomingSchedule .buttons {
    display: flex;
    gap: 15px;
}

.buttons button {
    padding: 4px 11px;
    border-radius: 8px;
    cursor: pointer;

}


.buttons button:first-child {
    border: 2px solid rgb(144, 142, 142);
    color: #7A7A7A;

}

.buttons button:last-child {
    border: 2px solid #DC4216;
    color: #DC4216;

}

.upcomingDetails p {
    font-size: 0.8267em !important;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #7A7A7A;
}

.upcomingDetails {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;

}

.pastSchedule .upcomingDetails {
    position: relative;
    left: -29px !important;

}

.pastScheduleContainer {
  
}

.buttonsPast {
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
}

.buttonsPast button {
    padding: 4px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.buttonsPast .rating {
    padding: unset !important;
    border: unset !important;
    background-color: #D9D9D9;
    color: #7A7A7A;
    text-decoration: underline;
    background: transparent;
}

.buttonsPast button:first-child {
    border: 2px solid rgb(144, 142, 142);
    color: #7A7A7A;

}


.buttonsPast a {
    color: #7A7A7A;
    font-size: 12px;
    text-decoration: underline;
}

.circles {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
}
.circles.pending {
    background-color: red;
  }
  
  .circles.completed {
    background-color: green;
  }
  
  .circles.cancelled {
    background-color: red;
  }
.completed {
    background-color: green;
}

.cancelled {
    background-color: red;
}

.humburger,
.humburgerCross {
    display: none;
}
@media (max-width:1400px){
    .fixed_height{
        height: 430px;
    }
}
@media screen and (max-width:780px) {

    .container {
        width: 650px;
    }

    .userInput input {
        padding: 6px 2px;
    }

    .userInput .selects {
        padding: 6px 16px;
    }

    .upcomingSchedule .buttons {
        gap: 5px;
    }

    .pastSchedule .upcomingDetails {
        position: relative;
        left: -3px !important;

    }

    .humbargor {
        display: block;
    }



}

@media screen and (max-width:768px) {
    .container {
        position: relative;
    }
    .noAppointments{
        margin-top: 0px;
    }
    .userInputs {
        flex-direction: column;
        align-items: flex-start;


    }

    .userInput .selects {
        padding: 6px 16px;
        width: 174px !important;
    }

    .userInput input[type="date"] {
        width: 174px !important;
    }

    .userInputs {
        position: fixed;
        top: 60;
        left: -5px;
        display: block !important;
        width: 200px;
        /* height: 100vh; */
        position: absolute;
        background-color: #fff;
        z-index: 1000;
        transition: left 0.5s ease;
        overflow-x: auto;
    }

    .userInput svg {
        position: absolute;
        right: 35px;

    }

    .userInput {
        position: relative;
    }

    .humburger {
        position: absolute;
        display: block !important;
        font-size: 24px;
        cursor: pointer;
        align-self: flex-start;
        left: 1px;
        top: 40px;
    }

    .humburgerCross {
        display: block;
        font-size: 20px;
        cursor: pointer;
        align-self: flex-start;
        position: absolute;
        z-index: 11111111 !important;
        left: 0px;
        top: 40px;

    }

    .title {
        text-align: center !important;
    }


    .titleAppointment {
        margin-left: 35px;
    }
}

@media screen and (max-width:600px) {
    .container {
        width: 550px;
    }

    .upcomingDetails p {
        font-size: 10px;

    }

    .buttons button {
        padding: 4px 8px;
    }

}

@media screen and (max-width:500px) {
    .container {
        width: 450px;
    }

    .upcomingSchedule,
    .pastSchedule {
        flex-direction: column;
        gap: 13px;
    }

    .upcomingDetails {
        text-align: center;
    }

    .upcomingDetails p {
        font-size: 12px;
        justify-content: center;

    }
}


@media screen and (max-width:475px) {
    .container {
        width: 400px;
    }

    .upcomingDetails p {
        flex-wrap: wrap;
    }

    .humburgerCross {
        left: 0px !important;
        top: 42px !important;
        font-size: 16px;

    }

    .humburger {
        left: 0px !important;
        top: 42px !important;
        font-size: 20px;
    }

    .titleAppointment {}
}

@media screen and (max-width:425px) {
    .container {
        width: 380px;
    }

}

@media screen and (max-width:375px) {
    .container {
        width: 340px;
    }

}


@media screen and (max-width:350px) {
    .container {
        width: 300px !important;
    }


}


@media screen and (max-width:300px) {
    .container {
        width: 260px !important;
    }

}

@media screen and (max-width:250px) {
    .container {
        width: 210px !important;
    }

}